<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/vendor/semantic.css">
		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/vendor/modernizr-2.6.2.min.js"></script>
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<header class="ui one column page grid">
			<div class="column">
				<div class="ui secondary  menu">
					<a class="{{ if eq current "home"}}active {{ end }}item" href="/">
						<i class="home icon"></i> Home
					</a>
					<a class="{{ if eq current "users"}}active {{ end }} item" href="/users">
						<i class="users icon"></i> Users
					</a>
					<a class=" {{ if eq current "about"}}active {{ end }}item" href="/about">
						<i class="info icon"></i> About
					</a>
					<div class="right menu">
						{{ if .authuser.Email }}
							<a class="{{ if eq current "profile" }}{{ if eq .currentuser.Id .authuser.Id }}active {{ end }}{{ end }} item" href="/user/{{ .authuser.Id }}">
								<i class="user icon"></i> {{.authuser.Email}}
							</a>
							<a class="ui item" href="/signout">
								Signout
							</a>
						{{ else }}
							<a class="{{ if eq current "signin"}}active {{ end }}ui item" href="/signin">
								Signin
							</a>						
							<a class="{{ if eq current "signup"}}active {{ end }}ui item" href="/signup">
								Signup
							</a>
						{{ end }}

					</div>
				</div>
				<div class="ui divider">
				</div>
			</div>
		</header>

		<!-- Add your site or application content here -->
		<section class="ui column page grid">
			<div class="column wide">
				{{ yield }}
				<div >{{printf "%#v" .}}</div>
			</div>
		</section>

		<script src="/js/vendor/jquery-1.10.2.min.js"></script>
		<script src="/js/vendor/semantic.js"></script>
		<script src="/js/plugins.js"></script>
		<script src="/js/main.js"></script>

	</body>
</html>
	