<form method="POST" action="/signin" class="ui form segment">
  <div class="field">
    <label>Email</label>
    <div class="ui left labeled icon input">
      <input type="email" placeholder="Email" name="email" />
      <i class="user icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Password</label>
    <div class="ui left labeled icon input">
     <input type="password" placeholder="Password" name="password" />
      <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="ui error message">
    <div class="header">We noticed some issues</div>
  </div>
  <button class="ui blue submit button">Login</button>
</form>